.error {
  font-size: small;
  color: rgb(168, 67, 67);
}
.signUp {
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
}
.signUp .contact-img {
  width: 50%;
  height: 100vh;
}
.signUp .contact-img img {
  width: 100%;
  height: 100%;
}
.signUp .signUp-main {
  width: 50%;
  min-height: 100vh;
  padding: 30px 50px;
  background: rgb(4, 2, 31);
}
.signUp .signUp-main .title {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(156, 108, 45);
}
.signUp .signUp-main .content {
  display: flex;
  flex-direction: column;
}
.signUp .signUp-main .content form {
  display: flex;
  flex-direction: column;
}
.signUp .signUp-main .content form label {
  font-size: 18px;
}
.signUp .signUp-main .content form .name-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.signUp .signUp-main .content form .name-box .name {
  display: flex;
  flex-direction: column;
}
.signUp .signUp-main .content form input[type="email"],
form .name-box .name input[type="text"],
form input[type="password"] {
  font-size: 18px;
  margin: 10px 0;
  outline: none;
  border-bottom: 1px solid white;
  background: rgb(4, 2, 31);
}

@media only screen and (max-width: 700px) {
  .signUp {
    height: auto;
    flex-direction: column;
  }
  .signUp .signUp-main {
    width: 100%;
    padding: 30px 18px;
  }
  .signUp .contact-img {
    width: 100%;
    height: 100%;
  }
  .signUp .signUp-main .title {
    font-size: 20px;
  }
  .signUp .signUp-main .content form label {
    font-size: small;
  }
  .signUp .signUp-main .content form input[type="email"] {
    font-size: 18px;
    margin: 2px 0;
    outline: none;
    border-bottom: 1px solid white;
    background: rgb(4, 2, 31);
  }
  .signUp .signUp-main .content .contact-bottom {
    font-size: small;
  }
  .signUp .signUp-main .content form .name-box {
    gap: 2px;
    width: 100%;
  }
  .signUp .signUp-main .content form .name-box .name {
    width: 50%;
    padding: 0;
  }
  .signUp .signUp-main .content form .name-box .name input[type="text"] {
    width: 90%;
  }
}
@media only screen and (max-width: 300px) {
  .signUp .signUp-main .title {
    font-size: 20px;
  }
}
